* {
    margin: 0;
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box; 
}

/* html { */
    /* font-family: Tahoma, Verdana, sans-serif; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif */
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
/* } */

html,
body { 
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

a:link {
    text-decoration: none;
}

:root {
    height: 100vh;
}
