.aboutContainer {
    font-size: 1.3em;
    line-height: 1.3em;
}

@media screen and (min-width: 768px) {
    .aboutContainer {
        width: 76%;
        font-size: 1.5em;
        line-height: 1.5em;
        /* moves section up by main content top padding */
        padding-bottom: 40px;
    }
}

@media screen and (min-width: 1024px) {
    .aboutContainer {
        /* moves section up by main content top padding */
        padding-bottom: 20px;
    }
}