.burgerMenu {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 2
}

.burger {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    transform-origin: 1px;
    transition: all 0.3s linear;
}

.lightBurger {
    background-color: #1f2933;
}

.darkBurger {
    background-color: #fff;
}
