.mainPage {
    height: 100%;
    padding: 20px;
}

.colourModeToggle {
    display: flex;
}

.darkMode {
    background-color: #000;
    color: #fff;
}

.lightMode {
    background-color: #fff;
    color: #000;
}

.mainContent {
    height: 80%;
    width: 85%;
    margin: 0 auto;
}

.intro {
    margin-top: 40px;
}

.header {
    font-size: 4em;
}

.subheader {
    font-size: 2em;
}