.lightNavigation,
.lightNavItems,
.lightNavItem,
.lightSocialsLink {
    background-color: #fff;
    color: #1f2933;
}

.darkNavigation,
.darkNavItems,
.darkNavItem,
.darkSocialsLink {
    background-color: #1f2933;
    color: #fff;
}

.navigation {
    top: 0;
    left: 0;
    position: sticky;
    font-size: 1.4em;
    z-index: 2;
}

.navigationMobile {
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    font-size: 1.4em;
    z-index: 2;
}

.navItems {
    width: 100%;
    margin-top: 72px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.showNavItems {
    height: 100%;
}

.navItem {
    margin-bottom: 40px;
    text-decoration: none;
}

.navItem:hover {
    cursor: pointer;
}

.lightNavItem {
    font-weight: 600;
}

.socialsIcon {
    font-size: 1em;
    margin: 0 10px;
}

.inlineNav {
    display: inline;
}

.noNav {
    display: none;
}

@media screen and (min-width: 768px) {
    .navigation {
        top: 0;
        left: 0;
        position: sticky;
        display: flex;
        justify-content: end;
        align-items: center;
        font-size: 1.4em;
        padding: 20px;
    }

    .navItems {
        width: auto;
        margin-top: 0;
        margin-right: 30px;
        position: relative;
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }

    .navItem {
        margin: 0 30px 0 0;
    }

    .mobileSocials,
    .inlineNav,
    .burgerMenuContainer {
        display: none;
    }

    .noNav {
        display: block;
    }
}