.app {
    min-height: 100vh;
    width: 100%;
}

.main {
    /* whole page minus nav bar height */
    min-height: calc(100vh - 72px);
    width: 100%;
    overflow-x: hidden;
}

@media (min-width: 768px) {
    .main {
        /* whole page minus nav bar height */
        min-height: calc(100vh - 66px);
    }
}

.light {
    background-color: #fff;
    color: #1f2933;
}

.dark {
    background-color: #1f2933;
    color: #fff;
}

.colourModeToggle {
    position: fixed;
    right: 20px;
    top: 20px;
    font-size: 1.5em;
    z-index: 2;
}

.darkBulbIcon {
    color: #fff;
    width: auto;
}

.lightBulbIcon {
    color: #1f2933;
    width: auto;
}