.appMain {
    height: 100%;
    width: 100%;
    /* padding: 0 20px 40px 20px; */
    /* Moonlit Asteroid */
    /* background: #0F2027; */
    /* Royal */
    /* background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    background: linear-gradient(to right, #243B55, #141E30); */
}

#light {
    background-color: var(--light-theme-background);
    color: var(--light-theme-font-color-primary);
}

#dark {
    background-color: var(--dark-theme-background);
    color: var(--dark-theme-font-color-primary);
}

.colourModeToggle {
    position: fixed;
    right: 20px;
    top: 20px;
    font-size: 1.5em;
    z-index: 2;
}

.darkBulbIcon {
    color: var(--dark-theme-font-color-primary);
    width: auto;
}

.lightBulbIcon {
    color: var(--light-theme-font-colour-primary);
    width: auto;
}